body {
    background: repeating-linear-gradient(
  30deg,
  whitesmoke,
   whitesmoke 10px,
  #e6e6e6 10px,
  #e6e6e6 50px
);
}

#container {
    background-color: #a1cae3;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#banner {
    text-align: center;
    }

h1 {
    padding: 20px;
}

.navbar {
    background-color: whitesmoke;
    top: 0;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: end;
}

.navbar li {
    display: inline-block;
    padding: 10px 66px;
}

.navbar a {
    text-decoration: none;
    color: black
}

h2, h3 {
    text-align: center;
}

h4 {
    text-align: left;
    text-decoration: underline;
}

#content {
    background-color: whitesmoke;
    width: 940px;
    margin: 10px;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
}

.title {
    margin-top: 50px;
}

img {
    float: left;
    padding: 20px;
}
img {
    float: right;
}

#PDF_Link {
    align: right;
}

.tooth_bullet {
    background-image: url('../images/tooth\ image.jpg');
    background-size:cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

li .tooth_bullet {
    list-style-type: none;
}

#footer {
    display: inline-block;
    padding: 10px;
    width: 1000px
}